In [ ]:
# explore_zillow

# Exercises

### Sourcing the Zillow database as the data source, create a jupyter notebook named explore_zillow and do the following:

1. Ask at least 5 questions about the data, keeping in mind that your target variable is logerror. e.g. Is logerror significantly different for properties in LA County vs Orange County vs Ventura County?

2. Answer those questions through a mix of statistical tests and visualizations.

In [1]:
# prepare environment

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

# Statistical Tests
import scipy.stats as stats

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve

import env
import acquire_1
import wrangle_zillow

In [2]:
# getting zillow data
df = acquire_1.get_zillow_data()

In [3]:
# using clean_zillow function on zillow data
df = wrangle_zillow.clean_zillow(df)
df.shape

(50913, 17)

In [4]:
# using prepare_zillow function on clean zillow data
df = wrangle_zillow.prepare_zillow(df)

In [6]:
# checking the shape of the prepared zillow data
df.shape

(50913, 20)

In [7]:
df.head()

,logerror,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,propertylandusetypeid,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,LA,Orange,Ventura
parcelid,,,,,,,,,,,,,,,,,,,,
14297519,0.025595,3.5,4.0,3100.0,6059.0,33.634931,-117.869207,4506.0,261.0,53571.0,1286.0,96978.0,1998.0,485713.0,1023282.0,537569.0,11013.72,0,1,0
17052889,0.055619,1.0,2.0,1465.0,6111.0,34.449266,-119.281531,12647.0,261.0,13091.0,2061.0,97099.0,1967.0,88000.0,464000.0,376000.0,5672.48,0,0,1
14186244,0.005383,2.0,3.0,1243.0,6059.0,33.886168,-117.823170,8432.0,261.0,21412.0,1286.0,97078.0,1962.0,85289.0,564778.0,479489.0,6488.30,0,1,0
12177905,-0.103410,3.0,4.0,2376.0,6037.0,34.245180,-118.240722,13038.0,261.0,396551.0,3101.0,96330.0,1970.0,108918.0,145143.0,36225.0,1777.51,1,0,0
12095076,-0.001011,3.0,4.0,2962.0,6037.0,34.145202,-118.179824,63000.0,261.0,47019.0,3101.0,96293.0,1950.0,276684.0,773303.0,496619.0,9516.26,1,0,0

In [10]:
df.isna().sum()

logerror                        0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
propertylandusetypeid           0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
landtaxvaluedollarcnt           0
taxamount                       0
LA                              0
Orange                          0
Ventura                         0
dtype: int64